# Generated with hyprdynamicmonitors freeze.
# This is a template that you can edit, it is just a starter that pulled your current monitor setup,
# adjust as needed.
# You can use templates here etc, see https://github.com/fiffeek/hyprdynamicmonitors/blob/main/examples/basic/hyprconfigs/template.go.tmpl.
# Monitors are given arbitrary tags (the "monitor" prefix and the ID coming from hyprland).
# If you are using tui to edit, leave this at the end of your file (the last monitor config applies)
# and leave the markers.
# <<<<< TUI AUTO START
monitor=desc:AU Optronics 0x5B2D,1920x1080@60.03300,1160x0,1.00000000,transform,0,vrr,0
monitor=desc:Samsung Electric Company S22C300 0x5A365335,1920x1080@60.00000,-2780x0,1.00000000,transform,0,vrr,0
monitor=desc:Dell Inc. DELL S2240T H6V5634L0DFU,1920x1080@60.00000,-810x0,1.00000000,transform,0,vrr,0
# <<<<< TUI AUTO END
